.news-intro-col {
  display: inline-flex;
  color: black;
  height: 100%;
}

.news-intro-panel {
  margin: auto 5px;
  text-align: left;
}

.news-description {
  text-align: left;
}

.news-description p {
  font-size: 18px;
}

.news-chip {
  font-size: 18px;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill img {
    padding-left: 20px;
    padding-right: 20px;
    flex-shrink: 0;
    min-width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.hover-container:hover > img{
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.fa {
  position: absolute;
  opacity: 0;
  font-size: 100px;
  transition: .5s ease;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  color: red;
}
