.news-intro-col {
  display: inline-flex;
  color: black;
  height: 100%;
}

.news-intro-panel {
  margin: auto 5px;
  text-align: left;
}

.news-description {
  text-align: left;
}

.news-description p {
  font-size: 18px;
}

.news-chip {
  font-size: 18px;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill img {
    padding-left: 20px;
    padding-right: 20px;
    flex-shrink: 0;
    min-width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.img {
  position:absolute;
  display:block;
  z-index: 1;
}

.img {
  position:absolute;
  display:block;
  z-index: 1;
}

.outer {
    position: absolute;
    display: table;
    z-index: 2;
    opacity: 0;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    margin: auto;

}

.outer:hover {
    opacity:1;
}

.hover-col:hover > img{
  opacity: 0.2;
}

div.inside {
    xdisplay: block;
    width: auto;
    height: 80px;
    display:table-cell;
    vertical-align:middle;

}

a {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

a:hover {
    color: coral;
}

.fa {
    color: ivory;
    text-decoration: none;
    padding: 0 10px 0 10px;
}

.fa:hover {
    color: palevioletred;
}

